<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/a96ecdccd8.js" crossorigin="anonymous"></script>
    <title> Alarm </title>
</head>
<body>
    <h1> Alarm Clock <i class="fa-solid fa-bell"></i> </h1>

        <div id="container">
            <br>
            <div id="add">
                <h2> Add alarm <i class="fa-solid fa-circle-plus"></i> </h2>
                <form action="addalarm" method = "POST">
                    <p>Hour: <input type = "text" name = "hour" value="" required/></p>
                    <p>Minute: <input type = "text" name = "minute" value="" required/></p>
                    <p id="mid"><input type = "submit" value = "submit" id="buttonleft"/></p>
                </form>
            </div>

            <div id="del">
                <h2> Delete alarm <i class="fa-solid fa-circle-minus"></i> </h2>
                <form action="delalarm" method = "POST">
                    <p>Hour: <input type = "text" name = "hour" value="" required/></p>
                    <p>Minute: <input type = "text" name = "minute" value="" required/></p>
                    <p id="mid"><input type = "submit" value = "submit" id="buttonright"/></p>
                </form>
            </div>
        </div>

        <div id="current">
            <h2> Current Alarm <i class="fa-solid fa-stopwatch"></i> </h2>
                {%for i in range(0,listlen)%}
                <div>
                    <p>{{ hour[i] }} : {{ minute[i] }}</p>
                </div>
                {% endfor %}
        </div>
</body>
</html>